@import url(https://fonts.googleapis.com/css2?family=Foldit:wght@600&display=swap);

h1 {
    font-family: 'Foldit', sans-serif;
}

h2 {
    font-family: 'Foldit', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 40px;
}
.wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    position: sticky;
    top: 0;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
    .menu ul{
        flex-direction: column;
    }
    .dropdown-content {
        width: 100%;
    }
}

@media screen and not (max-width: 600px) {
    .menu>ul>li {
        width: 350px;
    } 
    .dropdown-content {
        margin-left: 50px;
        width: 250px;
    }
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    color: blue;
    font-weight: bold;
}

.menu li a::after{
    background: none repeat scroll 0 0 transparent;
    bottom:0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    background: blue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu li a:hover:after{
    width: 100%;
    left: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content ul {
    display: flex;
    flex-direction: column;
}